node_modules/
.direnv/
.devbox/
.vscode/
.envrc
.merlin
.bsb.lock
.parcel-cache
*.res.js
yarn-error.log
.DS_Store
*/dist/
/_build
/_release
/examples/lib/
/lib/lib/
/specs/lib/
/ppx/test/**/*.cm[itj]
re-formality-ppx.install
