node_modules/
.direnv/
.vscode/
.envrc
.merlin
.bsb.lock
.parcel-cache
*.bs.js
yarn-error.log
.DS_Store
*/dist/
/_esy
/_build
/_release
/examples/lib/
/lib/lib/
/specs/lib/
/scripts/aws.env
/ppx/test/**/*.cm[itj]
re-formality-ppx.install
