node_modules/
.direnv/
.vscode/
.envrc
.cache
.merlin
.bsb.lock
*.bs.js
yarn-error.log
.DS_Store
*/dist/
/_esy
/_build
/_release
/examples/lib/
/lib/lib/
/specs/lib/
/ppx/test/**/*.cm[itj]
re-formality-ppx.install
