@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

:root {
  --font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  min-height: 100%;
  padding: 20px 40px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 800px;
  max-width: 800px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:active,
.link:focus,
.link:hover {
  outline: none;
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.nav-link {
  margin-right: 10px;
  background-color: transparent;
}

.nav-link.active {
  border-bottom: 1px solid #29d;
}

h1,
h2 {
  margin: 0 0 22px;
}

.form {
  position: relative;
  background-color: #fff;
  padding: 30px 40px 40px;
}

.form-messages-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  border-left: 1px dashed #ccc;
}

.form-messages-area-md {
  width: calc(800px - 40px - 100px - 15px - 300px - 40px);
}

.form-messages-area-lg {
  width: calc(800px - 40px - 130px - 15px - 300px - 40px);
}

.form-content {
  position: relative;
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.form-row.form-row-footer {
  margin-top: 5px;
}

label {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 15px;
  cursor: pointer;
  font-size: var(--font-size);
}

.label-md {
  width: 100px;
}

.push-md {
  margin-left: calc(100px + 15px);
}

.label-lg {
  width: 130px;
}

.push-lg {
  margin-left: calc(130px + 15px);
}

input,
button {
  transition: border-color 100ms ease-in;
  font-size: var(--font-size);
  font-weight: 300;
}

input[type="text"] {
  display: inline-flex;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: var(--font-size);
  width: 300px;
}

label,
input {
  margin-right: 15px;
}

button {
  display: inline-flex;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

input:focus,
button:focus,
button:hover {
  outline: none;
  border: 1px solid #29d;
}

button:active {
  transform: translateY(1px);
}

input:disabled,
button:disabled {
  pointer-events: none;
}

.note {
  margin-top: 7px;
  font-size: 14px;
  color: #777;
}

.form-message,
.form-status {
  font-size: 14px;
}

.form-message {
  margin-left: 40px;
}

.form-status {
  margin-left: 20px;
}

.form-message.success,
.form-status.success {
  color: green;
}

.form-message.failure,
.form-status.failure {
  color: red;
}
