@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600');

:root {
  --font-family: "Source Sans Pro", sans-serif;
  --font-size: 20px;

  --bg-color: #eaeaea;
  --active-color: #29d;
  --border-color: #ccc;

  --container-width: 900px;
  --form-padding-top: 30px;
  --form-padding-bottom: 40px;
  --form-padding-left: 40px;
  --form-padding-right: 40px;
  --label-width-md: 100px;
  --label-width-lg: 130px;
  --label-margin-right: 15px;
  --input-margin-right: 15px;
  --input-width: 350px;
  --control-width: 20px;
  --message-margin-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--font-size);
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  min-height: 100%;
  padding: 20px 40px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: var(--container-width);
  max-width: var(--container-width);
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:active,
.link:focus,
.link:hover {
  outline: none;
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

.nav-link {
  margin-right: 10px;
  background-color: transparent;
}

.nav-link.active {
  border-bottom: 1px solid var(--active-color);
}

h1,
h2 {
  margin: 0 0 22px;
}

h3 {
  margin: 0 var(--input-margin-right) 0 0;
  width: var(--input-width);
  font-weight: 600;
  font-size: 1em;
}

.form {
  position: relative;
  background-color: #fff;
  padding: var(--form-padding-top) var(--form-padding-right) var(--form-padding-bottom) var(--form-padding-left);
}

.form-messages-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  border-left: 1px dashed var(--border-color);
}

.form-messages-area-md {
  width: calc(var(--container-width) - var(--form-padding-left) - var(--label-width-md) - var(--label-margin-right) - var(--input-width) - var(--input-margin-right) - var(--control-width) - var(--input-margin-right));
}

.form-messages-area-lg {
  width: calc(var(--container-width) - var(--form-padding-left) - var(--label-width-lg) - var(--label-margin-right) - var(--input-width) - var(--input-margin-right) - var(--control-width) - var(--input-margin-right));
}

.form-content {
  position: relative;
}

.form-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.form-row.form-row-footer {
  margin-top: 5px;
}

label {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: var(--label-margin-right);
  cursor: pointer;
  font-size: var(--font-size);
}

.label-md {
  width: var(--label-width-md);
}

.push-md {
  margin-left: calc(var(--label-width-md) + var(--label-margin-right));
}

.label-lg {
  width: var(--label-width-lg);
}

.push-lg {
  margin-left: calc(var(--label-width-lg) + var(--label-margin-right));
}

input,
button {
  transition: border-color 100ms ease-in;
  font-size: var(--font-size);
  font-weight: 300;
}

input[type="text"] {
  display: inline-flex;
  border: 1px solid var(--border-color);
  padding: 8px;
  font-size: var(--font-size);
  width: var(--input-width);
}

label {
  margin-right: var(--label-margin-right);
}

input,
select {
  margin-right: var(--input-margin-right);
}

button {
  display: inline-flex;
  justify-content: center;
  color: #333;
}

button.primary,
button.secondary {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

button.primary {
  padding: 10px 20px;
  font-size: 1em;
}

button.secondary {
  padding: 6px 10px;
  font-size: 0.75em;
}

button.control {
  border: 0;
  padding: 0;
  width: var(--control-width);
}

select {
  display: flex;
  appearance: none;
  background-color: transparent;
  width: var(--input-width);
  border: 1px solid var(--border-color);
  font-size: calc(var(--font-size) - 4px);
  font-variant: normal;
  font-stretch: normal;
  font-style: normal;
}

input:focus,
select:focus,
button.primary:focus,
button.secondary:focus,
button.primary:hover,
button.secondary:hover {
  outline: none;
  border: 1px solid var(--active-color);
}

button.control:focus,
button.control:hover {
  outline: none;
}

button:active {
  transform: translateY(1px);
}

input:disabled,
select:disabled,
button:disabled {
  pointer-events: none;
}

.note {
  margin-top: 7px;
  font-size: 14px;
  color: #777;
}

.form-message,
.form-status {
  font-size: 14px;
}

.form-message-for-field {
  margin-left: calc(var(--control-width) + var(--input-margin-right) + var(--message-margin-left));
}

.form-message-for-collection {
  margin-left: calc(var(--control-width) + var(--input-margin-right) + var(--message-margin-left));
}

.form-message-for-field-of-collection {
  margin-left: calc(var(--input-margin-right) + var(--message-margin-left));
}

.form-status {
  margin-left: 20px;
}

.form-message.success,
.form-status.success {
  color: green;
}

.form-message.failure,
.form-status.failure {
  color: red;
}
